 <style type="text/css">
ul{
   list-style-type:none;
   margin:0;
   padding:0;
   position: absolute;
}

li {
	display:inline-block;
	float: left;
	margin-right: 1px
}

/*Estilo para los links*/
li a {
	display:block;
    min-width:140px;
	height: 35px;
	text-align:center;
	line-height: 35px;
	font-family:Helvetica, Arial, sans-serif;
	color: #fff;
	background: #444;
	text-decoration: none;	
}

li:hover a {
	background: #72d9fb;
}	

li:hover ul a {
	background:#elelel;
	color: #222
	height: 35px;
	line-height: 35px;
}

/*Hover para enlances desplegados*/
li:hover ul a:hover {	
   background: #2598c3;
   color: #fff;
}

/*Ocultar enlances desplegados hasta que se necesiten*/
li ul {
     display:none;	 
}

/*Hacer vinculos desplegables verticales*/
li ul li {
    display: block;	
	float: none;
}

li ul li a { 
    width: auto;
	min-width: 100px;
	 padding: 0 19px;
}

/*Visualizar el menu desplegable en hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Estilos boton desplegar menu*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-decoration: none;
	color: #fff;
	background: #2598c3;
	text-align: center;
	padding: 7px 0;
	display: none;
}

input[type=checkbox] {
	display: none;
}

/*Mostrar menu cuando se marca la casilla de verificacion invisible*/
input[type=checkbox] ~ #menu{
	display: block;
}


/*Estilo responsivo ancho menor de 750px*/

@media screen and (max-width : 750px) {
	/*Hacer que los vinculos desplegables aparezcan en linea*/
    ul {
        position: static;	
        display: none;
    }
	/*Crear espacio vertical*/
	li {
	    margin-bottom: 1px;
    }
	/*todos los enlances del menu de ancho completo*/
	ul li, li a {
		width: 100%;
	}
	
	.show-menu {
		display:block;
		cursor:pointer;
	}
}
</style>	